############################
# ROS2 / colcon (generated)
############################
build/
install/
log/

############################
# Python cache
############################
__pycache__/
*.pyc

############################
# IDE / Editor
############################
.vscode/
.idea/
MUJOCO_LOG.TXT

############################
# OS junk
############################
.DS_Store
Thumbs.db
